{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Neuron Template - About</title>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<!-- Main css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="/admin/" class="navbar-brand">Blog</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">主页</a></li>
                    <li><a href="/about/">关于</a></li>
                    <li><a href="http://pubg.lihailezzc.com/zhanji">战绩查询</a></li>
                    <li><a href="/contact/">联系我们</a></li>
               </ul>
          </div>

  </div>
</div>

<!-- Home Section -->

<section id="home" class="main-about parallax-section">
	
     <div class="mumber">
		<div class="dsh bgb">
			<img src="{% static 'images/dsh.jpg' %}">
		</div>
		<div class="zzc bgb">
			<img src="{% static 'images/zzc.jpg' %}">
		</div>
		<div class="jht bgb">
			<img src="{% static 'images/jht.jpg' %}">
		</div>
		<div class="syl bgb">
			<img src="{% static 'images/syl.jpg' %}">
		</div>
		<div class="dgw bgb">
			<img src="{% static 'images/dgw.jpg' %}">
		</div>
		<div class="wp bgb">
			<img src="{% static 'images/wp.jpg' %}">
		</div>
	 </div>
</section>

<!-- About Section -->

<section id="about">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="col-md-4 col-sm-4">
                         <h2>张智超</h2>
                         <p>大三学生</p>
                         <p>喜欢打篮球</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <h2>杜国伟</h2>
                         <p>大三</p>
                         <p>性格开朗，乐于助人</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <h2>杜尚壑</h2>
                         <p>大三学生</p>
                         <p>喜欢打篮球</p>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <h3>去阳澄湖抓螃蟹</h3>
                         <p>阳澄湖 又名阳城湖。在江苏省南部，苏州城东北五公里，跨吴县和昆山县。阳澄湖畔，东依上海，西临苏。它拥有岸线9.67千米，岸线蜿蜒曲折，富有诗意。南北长17千米，东西最大宽度8千米，面积117平方千米，蓄水量3.7亿立方米。阳澄湖总水面18万亩，太湖下游湖群之一，系古太湖的残留。</p>
                         <p>湖中纵列沙埂2条，将阳澄湖分为东、中、西3湖。东湖最大，水深1.7-2.5米；中湖和西湖，水深1.5-3.0米。
西纳元和塘来水，东出戚浦塘、杨林塘和济河注入长江，南出娄江与吴淞江、澄湖、淀泖湖群等相通。因此，独特的水域环境、地理位置以及水生环境，造就了阳澄湖大闸蟹有别于其他湖区大闸蟹的特质。
阳澄湖水产资源十分丰富，阳澄湖盛产七十种淡水产品，白鱼、鲢鱼、清水虾、大闸蟹为"湖中六宝"，其中素有"蟹中之王"美称的阳澄湖清水大闸蟹更是驰名中外。</p>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <img src="{% static 'images/41.jpg' %}" alt="About Image" style="height:400px	">
						 
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-4 col-sm-4">
                         <h3>蒋皓天</h3>
                         <p>大三学生 喜欢打篮球</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <h3>王朋 </h3>
                         <p>大三 目前学习中</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <h3>宋有利</h3>
                         <p>大三 喜欢学习</p>
                    </div>
				
               </div>

          </div>
     </div>
</section>

<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">


               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-twitter"></a></li>
                         <li><a href="#" class="fa fa-google-plus"></a></li>
                         <li><a href="#" class="fa fa-dribbble"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>
               
          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.parallax.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>